<% if @model == 'reviewname' %>
  <h3>"<%= @content %>"のレビュー（アイテム名）検索結果</h3>
  <%= render 'saerch/review'%>
<% elsif @model == 'reviewbrand' %>
  <h3>"<%= @content %>"のレビュー（ブランド名）検索結果</h3>
  <%= render 'saerch/review'%>
<% elsif @model == 'itemname' %>
  <h3>"<%= @content %>"のアイテム（アイテム名）検索結果</h3>
  <%= render 'saerch/item' %>
<% else @model == 'itembrand' %>
  <h3>"<%= @content %>"のアイテム（ブランド名）検索結果</h3>
  <%= render 'saerch/item'%>
<% end %>