<h3>ブックマーク一覧</h3>
<table>
  <thead>
    <tr>
      <th>ユーザーネーム</th>
      <th>アイテム名</th>
      <th>ブランド名</th>
      <th>評価</th>
    </tr>
  </thead>
  <tbody>
    <% @bookmarks.each do |bookmark| %>
      <tr>
        <td><%= link_to user_path(bookmark.review.user_id),bookmark.review.user.name %></td>
        <td>
          <%= link_to user_item_review_path(bookmark.review.user_id,bookmark.review.item_id,bookmark.review_id) do %>
            <%= bookmark.review.name %>
          <% end %>
        </td>
        <td><%= bookmark.review.brand %></td>
        <td><%= bookmark.review.rate %></td>
      </tr>
    <% end %>
  </tbody>
</table>
