<div class="container">
  <% if @style.errors.any? %>
    <%= @style.errors.count %>件のエラーが発生しました
    <% @style.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-md-3 text-left">
    </div>
    <div class="col-md-4 text-center" style="margin: 15px 0 15px 0;">
      <h3 style="background-color: #eeeeee;">スタイル編集</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 ml-md-auto">
      <%= form_with model: @style, url: user_style_path(@user, @style), local:true do |f| %>
        <table>
          <tr><%= f.label :"スタイル名" %></tr>
            <td><%= f.text_field :name %></td>
          <tr>
            <td>
              <div class="actions">
                <%= f.submit "更新", :class => "btn btn-outline-secondary btn-block" %>
              </div>
            </td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>