<div class="container-fluid">
 <div class="row">
    <div class="col-md-10 text-left">
      <p class="style"><strong style="font-size: 25px;">スタイル一覧</strong>（全<%= @styles.count %>件）</p>
      <p><%= link_to "スタイル編集", new_user_style_path(current_user), class: "fas fa-edit fa-lg text-success" %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-5 text-center" style="font-size: 20px;">
      <ul class="list-group">
        <% @styles.each do |style| %>
          <%= link_to user_style_path(@user, style), class: 'list-group-item list-group-item-action list-group-item-success p-3' do %>
          <!--<li class="list-group-item d-flex justify-content-between align-items-center">-->
            <span><%= style.name %></span>
            <span class="badge badge-success badge-pill"><%= style.items.count %></span>
          <% end %>
          <!--</il>-->
        <% end %>
      </ul>
    </div>
  </div>
</div>