<div class="container">
  <div class="row">
    <div class="col-mt-5 text-center">
      <% if @item.images.present? %>
        <% @item.images.each do |image| %>
          <%= attachment_image_tag image, :image, :fill, 250, 300, format: 'jpeg', class: "default_image" %>
        <% end %>
      <% else %>
        画像は登録されていません。
      <% end %>
    </div>
    <div class = "col-6">
      <table class ="table">
        <thead></thead>
        <tbody>
            <tr class="mb-5">
              <td>アイテム名</td>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <td>ブランド名</td>
              <td><%= @item.brand %></td>
            </tr>
            <tr>
              <td>カラー</td>
              <td><%= @item.color %></td>
            </tr>
            <tr>
              <td>カラーコード</td>
              <td style="background-color:<%= @item.color_code %>"></td>
            </tr>
            <tr>
              <td>ウェアセックス</td>
              <td><%= @item.item_sex %></td>
            </tr>
            <tr>
              <td>サイズ</td>
              <td><%= @item.size %></td>
            </tr>
            <tr>
              <td>素材</td>
              <td><%= @item.material %></td>
            </tr>
            <tr>
              <td>季節</td>
              <td><%= @item.season %></td>
            </tr>
            <tr>
              <td>購入日</td>
              <td><%= @item.buy_day %></td>
            </tr>
            <tr>
              <td>購入価格</td>
              <td><%= @item.price %>円</td>
            </tr>
            <tr>
              <td>カテゴリー</td>
              <td><%= @item.category.name %></td>
            </tr>
            <tr>
              <td>スタイル</td>
              <td><%= @item.style.name %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="font-size: 13px; margin-top: 10px;">
      <div class="col-md-8 text-center">
        <div class="actions">
          <%= link_to "関連アイテム", user_item_related_items_confirm_path(@user, @item), :class => "btn btn-info btn-block" %>
        </div>
        <div class="actions">
          <%= link_to "アイテムレビュー", user_item_review_path(@user, @item), :class => "btn btn-warning btn-block" %>
        </div>
        <div class="actions">
          <%= link_to "編集する", edit_user_item_path(@user, @item), :class => "btn btn-success btn-block" %>
        </div>
        <div class="actions">
          <%= link_to "削除する", user_item_path(@user, @item),method: :delete, data:{ confirm: '本当に消しますか？' }, :class => "btn btn-danger btn-block" %>
        </div>
      </div>
  </div>
</div>
