<div class="container">
  <% if @category.errors.any? %>
    <%= @category.errors.count %>件のエラーが発生しました
    <% @category.errors.full_messages.each do |message| %>
      <%= message %>
    <% end %>
  <% end %>
  <div class="row">
    <div class="col-5-text_center">
      <h4>カテゴリー編集</h4>
        <%= form_with model: @category, url: user_category_path(@user, @category), local:true do |f| %>
          <p>カテゴリー名</p>
          <p><%= f.text_field :name %></p>
          <%= f.submit '更新' %>
        <% end %>
    </div>
  </div>