<!DOCTYPE html>
<html>
  <head>
    <title>Mycloset</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

  </head>

  <header>
    <nav class="navbar navbar-expand-lg text-nowrap text-monospace text-light navbar-dark bg-dark border">
      <div class="container">
          <h1><%= link_to "MyCloset", root_path, class: "text-light text-decoration-none text-left mt-4 header-logo text-white"%></h1>
          <div class="collapse navbar-collapse ml-5" id="navbarNavDropdown">
            <% if user_signed_in? %>
            <ul class="nav-item"><P><%= current_user.name %>'s Closet</p></ul>
            <ul class="nav-item"><%= link_to ' マイページ',mypage_path ,class: 'fas fa-address-card nav-link text-warning' %></ul>
            <ul class="nav-item"><%= link_to ' ブックマーク',user_bookmarks_path ,class: 'fas fa-bookmark nav-link text-warning' %></ul>
            <ul class="nav-item"><%= link_to ' アイテム',user_items_path(current_user) ,class: 'fas fa-tshirt nav-link text-warning'%></ul>
            <ul class="nav-item"><%= link_to ' ログアウト', destroy_user_session_path, method: :delete,class: 'fas fa-sign-out-alt nav-link text-warning' %></ul>
            <% end %>
          </div>
        </div>
      <% if user_signed_in? %>
        <%= render 'saerch/form' %>
      <% end %>
    </nav>
  </header>

  <body>
    <div class="container">
      <div class="row my-2">
        <% if alert %>
          <p class="alert"><%= alert %></p>
        <% end %>
        <div class="text-success">
          <% if flash[:notice] %>
            <div class="flash">
              <%= flash[:notice]%>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
